<%= javascript_include_tag :application %>
<%= stylesheet_link_tag("calendar/index.css") %>
<div id="tooltip_box">
  <div class="image_loading">
    <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none; float:left;" ) %>
  </div>
  <div id="tooltip_header"></div>
</div>
<div id="calendar">
  <%= render :partial=>"month" %>
</div>
